global
    log /dev/log local0
    log /dev/log local1 notice

    maxconn 4096

    stats socket /run/haproxy/admin.sock mode 660 level admin

    user haproxy
    group haproxy

    daemon

defaults
    log global
    mode tcp
    option tcplog

    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend postgres
    bind *:{{ haproxy_frontend_port }}
    default_backend postgres_primary

backend postgres_primary
    mode tcp

    option httpchk
    http-check connect port {{ patroni_api_port }}
    http-check send meth GET uri /primary
    http-check expect status 200

    option redispatch

{% for host, ip in cluster_nodes.items() %}
    server {{ host }} {{ ip }}:{{ postgres_backend_port }} check port {{ patroni_api_port }} inter 2s fall 3 rise 2
{% endfor %}

listen stats
    bind *:{{ haproxy_stats_port }}
    mode http

    stats enable
    stats uri /stats
    stats refresh 5s
